<h4 class="heading">follow us</h4>

<div class="mainfooter">
  <div class="footer">
    <a
      rel="nofollow"
     
     routerLink="/start"
      ><i class="fa fa-facebook"></i
    ></a>
    <a rel="nofollow" href="" 
      ><i class="fa fa-twitter"></i
    ></a>
    <a
      rel="nofollow"
    
      routerLink="/start"
      ><i class="fa fa-instagram" style="color: deeppink;"></i
    ></a>
    <a
      rel="nofollow"
      
      routerLink="/start"
      ><i class="fa fa-linkedin"></i
    ></a>
    <a
      rel="nofollow"
     
      routerLink="/start"
      ><i class="fa fa-youtube-play" style="color: red
      ;"></i
    ></a>
  </div>
</div>
<div class="content">
  <p class="footer_content text-center">
    PropertyInvestment Online Platform Private Limited | Corporate identity number -
    U70102KA2012345fghj. For any complaints please write to <br />
   gowtham at propertyinvestment@revengers.in
  </p>
  <p class="footer_content">
    Property Share does not make any representation regarding the suitability of
    the opportunities that appear on the Platform. Nothing on the Platform
    should be construed as investment, business, legal or tax advice or
    constitutes an offer for service or assistance with investment in real
    estate assets. Listing of details relating to the opportunities on the
    Platform or any content contained on the Platform does not constitute an
    offer by Property Share to sell, solicit or make an offer to participate in
    the opportunities. No information or content available on the Platform
    should be construed as a solicitation of an offer to buy or sell any
    property. Any decision to make direct or indirect investments in real estate
    assets involves significant risks including risk of loss of capital, and all
    such decisions should be made only after seeking independent legal, business
    and tax advice.
  </p>
  <p class="footer-copyright">Copyright © PropertyInvestment Online Platform Private Limited</p>
</div>
