<div class="about-nav">
  <div class="nav-component">
    <home-nav></home-nav>
  </div>
  <div class="about-page">
    <div class="image-page">
      <img class="image" src="https://media1.propertyshare.in/images/static_page_banner/about us.jpg"
        alt="about us background propshare capital" />
      <div class="content">
        <h1 class="title-page">About Us</h1>
      </div>
    </div>
  </div>
  <br />

  <h2 class="title-view">Who We Are</h2>

  <div class="content-text">
    <p>
      Real estate has historically been the asset class that has created the
      highest wealth for investors around the world. However, large capital
      investment, specialised investment knowledge, asset management
      capabilities and understanding of market cycles has restricted the asset
      class to institutional investors, ultra high net worth individuals,
      pension and sovereign funds.
    </p>
    <p>
      Property Share was founded by a team with deep experience in institutional
      real estate investing and technology with the aim to democratise real
      estate investing for ordinary investors by providing institutional quality
      analysis, asset management and liquidity at much lower investment
      thresholds.
    </p>
  </div>
</div>
<br><br><br>
<!-- 
<div class="share">
  <div class="share-val1">
    <h2 class="share1">$1 billion<span id="plus-sign">+</span></h2>
    <p class="sharevalue1">Investment Experience</p>
  </div>
  <div class="share-val2">
    <h2 class="share2" style="font-weight: 100;">₹1,000 crs<span id="plus-sign">+</span></h2>
    <p class="sharevalue1">Properties Funded</p>
  </div>
  <div class="share-val3">
    <h2 class="share3" style="font-weight: 100;">150,000</h2>
    <p class="sharevalue1">Users</p>
  </div>
</div>-->
<br><br><br>
<div class="text">
  <h2 class="text-center">Board of Directors</h2>
  <!-- <p class="title">Our Board comprises representatives from Lightspeed, Pravega and Beenext</p> -->
</div>
<br>

<table>
  <tr>

   

    <td>
      <div class="img1">
      
        <h2>S Datta Siva Sai</h2>
        <p class="description" style="font-size: medium;">B.Tech(Civil Engineering) from SVU,Andra Pradesh</p>
        <a href="https://www.linkedin.com/in/samudrala-datta-siva-sai-240138229">https://www.linkedin.com/in/samudrala-datta-siva-sai-240138229</a>
        </div>
    </td>
    <td>
      <div class="img2">
        <h2>Akash HN</h2>
        <p class="description" style="font-size: medium;">B.E(Civil Engineering) from VTU,Karnataka</p>
        <a href="https://in.linkedin.com/in/akash-h-n-1524071b9/">https://in.linkedin.com/in/akash-h-n-1524071b9/</a>
      </div>
    </td>

    <td>
      <div class="img6">
        <h2>Lakshmi Poojitha</h2>
        <p class="description" style="font-size: medium;">B.Tech(Electronics & Communication) from JNTU,Andra Pradesh</p>
        <a href="https://in.linkedin.com/in/deepak-ramineedi-449a465">https://in.linkedin.com/in/deepak-ramineedi-449a465</a>
      </div>
    </td>


  </tr>


  <tr>

    <td>
      <div class="img5">
        <h2>Shireesha M</h2>
        <p class="description" style="font-size: medium;">B.E(Computer Science) from VTU,Karnataka</p>
        <a href="https://www.linkedin.com/in/shireesha-m-601568252">https://www.linkedin.com/in/shireesha-m-601568252</a>
      </div>
      
    </td>
    <td>
      <div class="img3">
        <h2>Gowtham</h2>
        <p class="description" style="font-size: medium;">B.Sc(Computer Science) from SVU,Andra Pradesh</p>
        <a href="https://www.linkedin.com/in/chintu-gowtham-570911257">https://www.linkedin.com/in/chintu-gowtham-570911257</a>
      </div>
    </td>
    <td>
      <div class="img4">
        <h2>K Shivakrishna Reddy</h2>
        <p class="description" style="font-size: medium;">MCA from JNTUK,Andra Pradesh</p>
        <a href="http://linkedin.com/in/siva-krishna-reddy-kamireddy-241465231">http://linkedin.com/in/siva-krishna-reddy-kamireddy-241465231</a>
        </div>
    </td>
    

   
 


  </tr>
</table>
<br><br><br>
<footer-nav></footer-nav>




<!-- <div class="board">
  <div class="team-1">

    <div class="img6">
      <h2>Lakshmi Poojita</h2>
      <p class="description" style="font-size: medium;">B.Tech(Electronics & Communication) from JNTU,Andra Pradesh</p>
      <a href="https://in.linkedin.com/in/deepak-ramineedi-449a465">https://in.linkedin.com/in/deepak-ramineedi-449a465</a>
    </div>
    
      <div class="img2">
        <h2>Akash HN</h2>
        <p class="description" style="font-size: medium;">B.E(Civil Engineering) from VTU,Karnataka</p>
        <a href="https://in.linkedin.com/in/deepak-ramineedi-449a465">https://in.linkedin.com/in/deepak-ramineedi-449a465</a>
      </div>
     
      <div class="img4">
        <h2>K Shivakrishna Reddy</h2>
        <p class="description" style="font-size: medium;">B.Sc(Civil Engineering) from JNTU,Andra Pradesh</p>
        <a href="https://in.linkedin.com/in/deepak-ramineedi-449a465">https://in.linkedin.com/in/deepak-ramineedi-449a465</a>
        </div>
    
  </div>
  <div class="team-2" id-="team-2">
   
    <div class="img3">
      <h2>Gowtham</h2>
      <p class="description" style="font-size: medium;">B.Sc(Computer Science) from JNTU,Andra Pradesh</p>
      <a href="https://in.linkedin.com/in/deepak-ramineedi-449a465">https://in.linkedin.com/in/deepak-ramineedi-449a465</a>
    </div>
    
    <div class="img1">
      
      <h2>S Datta Siva Sai</h2>
      <p class="description" style="font-size: medium;">B.Tech(Civil Engineering) from SVU,Andra Pradesh</p>
      <a href="https://www.linkedin.com/in/samudrala-datta-siva-sai-240138229">https://www.linkedin.com/in/samudrala-datta-siva-sai-240138229</a>
      </div>
    
    <div class="img5">
      <h2>Shireesha M</h2>
      <p class="description" style="font-size: medium;">B.E(Computer Science) from VTU,Karnataka</p>
      <a href="https://www.linkedin.com/in/shireesha-m-601568252">https://www.linkedin.com/in/shireesha-m-601568252</a>
    </div>
    
     
      
    
  </div>



</div>



<br><br><br>
<div class="text">
  <h2 class="text-center">Our Office</h2>
  <p class="title">4th Floor, SBR Horizon, Hosakote Road, Bangalore 560067</p>
</div>


<div class="about-nav">
  <div class="nav-component">
    <app-navcomponent></app-navcomponent>
  </div>
  <div class="about-page">
    <div class="image-page" >
      <img class="image"
        src="https://media1.propertyshare.in/images/static_page_banner/about us.jpg"
        alt="about us background propshare capital"/>
      <div class="content">
        <h1 class="title-page">About Us</h1>
      </div>
    </div>
  </div>
  <br/><br />

  <h2 class="title-view">Who We Are</h2>

  <div class="content-text">
    <p>
      Real estate has historically been the asset class that has created the
      highest wealth for investors around the world. However, large capital
      investment, specialised investment knowledge, asset management
      capabilities and understanding of market cycles has restricted the asset
      class to institutional investors, ultra high net worth individuals,
      pension and sovereign funds.
    </p>
    <p>
      Property Share was founded by a team with deep experience in institutional
      real estate investing and technology with the aim to democratise real
      estate investing for ordinary investors by providing institutional quality
      analysis, asset management and liquidity at much lower investment
      thresholds.
    </p>
  </div>
  </div>
  <br><br><br>

<div class="share">
<div class="share-val1">
  <h2 class="share1">$1 billion<span id="plus-sign">+</span></h2>
  <p class="sharevalue1">Investment Experience</p>
</div>
<div class="share-val2">
  <h2 class="share2" style="font-weight: 100;">₹1,000 crs<span id="plus-sign">+</span></h2>
  <p class="sharevalue1">Properties Funded</p>
</div>
<div class="share-val3" >
  <h2 class="share3" style="font-weight: 100;">150,000</h2>
  <p class="sharevalue1">Users</p>
</div>
</div>
<br><br><br>
<div class="text">
  <h2 class="text-center">Board of Directors</h2>
  <p class="title">Our Board comprises representatives from Lightspeed, Pravega and Beenext</p>
</div>
<br><br><br>
<div class="img">
  <div class="img1">
  <h2>S Datta Siva Sai</h2>
  <p class="description" style="font-size: medium;">B.Tech(Civil Engineering) from SVU,Andra Pradesh</p>
  <a href="https://www.linkedin.com/in/samudrala-datta-siva-sai-240138229">https://www.linkedin.com/in/samudrala-datta-siva-sai-240138229</a>
  </div>
  <div class="img2">
  <h2>Akash HN</h2>
  <p class="description" style="font-size: medium;">B.E(Civil Engineering) from VTU,Karnataka</p>
  <a href="https://in.linkedin.com/in/deepak-ramineedi-449a465">https://in.linkedin.com/in/deepak-ramineedi-449a465</a>
</div>
<div class="img3">
  <h2>Gowtham</h2>
  <p class="description" style="font-size: medium;">B.Sc(Computer Science) from JNTU,Andra Pradesh</p>
  <a href="https://in.linkedin.com/in/deepak-ramineedi-449a465">https://in.linkedin.com/in/deepak-ramineedi-449a465</a>
</div>
</div>
<br><br><br><br>
<div class="division2" >
  <div class="img1">
  <h2>Kamireddy Shivakrishna Reddy</h2>
  <p class="description" style="font-size: medium;">B.Sc(Civil Engineering) from JNTU,Andra Pradesh</p>
  <a href="https://in.linkedin.com/in/deepak-ramineedi-449a465">https://in.linkedin.com/in/deepak-ramineedi-449a465</a>
  </div>
  <div class="img2">
  <h2>Shireesha M</h2>
  <p class="description" style="font-size: medium;">B.E(Computer Science) from VTU,Karnataka</p>
  <a href="https://www.linkedin.com/in/shireesha-m-601568252">https://www.linkedin.com/in/shireesha-m-601568252</a>
</div>
<div class="img3">
  <h2>Lakshmi Poojita</h2>
  <p class="description" style="font-size: medium;">B.Tech(Electronics & Communication) from JNTU,Andra Pradesh</p>
  <a href="https://in.linkedin.com/in/deepak-ramineedi-449a465">https://in.linkedin.com/in/deepak-ramineedi-449a465</a>
</div>
</div>
<br><br><br>
<div class="text">
  <h2 class="text-center">Our Office</h2>
  <p class="title">4th Floor, SBR Horizon, Hosakote Road, Bangalore 560067</p>
</div>

 -->