<div class="about-nav">
  <div class="nav-component">
    <home-nav></home-nav>
  </div>
  <div class="abc">
    <div class="siri" >
      <img class="image"
        src="https://media2.propertyshare.in/images/static_page_banner/contact.jpg"
        alt="contact us background propshare capital"/>
      <div class="content">
        <h1 class="title1">Contact Us</h1>
      </div>
    </div>
  </div>
  </div>
  <div class="share">
    <div class="share-val1">
      <h2 class="share1">Where to find us</h2>
      <div class="image-refer">
      <!-- <img src="https://media1.propertyshare.in/images/contact-location.svg"> -->
      <p class="sharevalue1">4th Floor,Corenuts technologies,whitefield main road,Bangalore-560066</p>
    </div>
    </div>
    <div class="share-val2">
      <h2 class="share2">Call us</h2>
      <div class="image-refer">
      <!-- <img src="https://media2.propertyshare.in/images/phone.svg"> -->
      <p class="sharevalue2">+91-79-6393-9885</p>
    </div>
    </div>
    <div class="share-val3" >
      <h2 class="share3">Write to us</h2>
      <div class="image-refer">
      <!-- <img src="https://media2.propertyshare.in/images/mail.svg"> -->
      <p class="sharevalue3">sbr@propertyshare.in</p>
    </div>
    </div>
    </div>
    <br><br><br>
    <footer-nav></footer-nav>
