.body{
  width: 100%;
  height: fit-content;
  background-image: url(https://cdn.cnn.com/cnnnext/dam/assets/200310023921-dubai-buildings-skyline.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
    /* Style the section */
section {

  margin: auto;
  max-width: 600px;
  text-align: center;
}
.password-input-wrapper {
  display: flex;
  flex-direction: column;
}

.password-input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-group input {
  padding-right: 42px; /* adjust as needed based on icon size */
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
  font-size: 16px;
}

.password-toggle-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
a{
  color: rgb(1, 1, 199);
    text-decoration: underline;
    background-color: transparent;
    font: bold;

}
/* Style the form container */
.form-container {
  background-color: rgb(229 245 255 / 54%);
  /* background-color: #f2f2f2; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding-top: 2rem;
}

/* Style the form heading */
.create {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Style the form paragraph */
.para {
  font-size: 16px;
  margin-top: 0px;
}

/* Style the horizontal line */
hr {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin-bottom: 20px;
}

/* Style the form labels */
label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

/* Style the form inputs */
input[type="text"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="password"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the radio buttons */
button {
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 10px;
}

/* Style the form buttons */
.sub {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

/* Style the form buttons on hover */
.sub:hover {
  background-color: #3e8e41;
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Style the table rows */
tr {
  text-align: left;
}

/* Style the table columns */
td {
  padding: 10px;
}

/* Style the error message */
.error {
  color: red;
  font-size: 14px;
}



