<home-nav></home-nav>
<div class="heading">Your Orders</div>
  <div class="maincard">
    
    <!-- loop through properties using ngFor directive -->
    <div class="card card1" *ngFor="let order of customerOrders ; let i = index">
      <h1 class="title">{{ order.propertyId?.name }}</h1>
      <div class="title">
        <i class="fas fa-map-marker-alt"></i>
        {{ order.propertyId?.propertyLocation?.city }}
      </div>
      <img
        class="card-img-top"
        src="{{ order.propertyId?.imageUrl }}"
        alt="Card image cap"
      />
      <div class="div1">
        <div><i class="far fa-building"></i>units purchased</div>
        <div class="propertyvalues">{{ order.noOfUnits }} m<sup>2</sup></div>
      </div>
      <div class="div1">
        <div><i class="fas fa-coins"></i> Order Date</div>
        <div class="propertyvalues">{{ order.orderDate | date }}</div>
      </div>
      <div class="div1">
        <div><i class="fas fa-coins"></i> Order Price</div>
        <div class="propertyvalues">{{ order.orderPrice | currency : "INR" : "symbol" : "4.2-2" }}</div>
      
      </div>
      <div class="div1" *ngIf="order.orderStatus=='pending'">Status
      <div class="propertyvalues" style="color: red;">{{order.orderStatus}}</div>
    </div>
      <div class="butt">
        <button
            class="btn btn-warning btn-lg view"
            style="margin-right: 0.5rem; padding: 0.2rem 1.2rem" *ngIf="order.orderStatus=='approved'"
            (click)="sell(order.orderId)"
          >
            sell
          </button> 
      </div>
      
    </div>
  </div>