
<home-nav> </home-nav>
<div class="bdy">

  <div class="maincard">
    <!-- loop through properties using ngFor directive -->
    <div class="card card1" *ngFor="let property of properties">
      <h1 class="title">{{ property?.name }}</h1>
      <div class="title">
        <i class="fas fa-map-marker-alt"></i>
        {{ property.propertyLocation?.city }}
      </div>
      <img
        class="card-img-top"
        src="{{ property.imageUrl }}"
        alt="Card image cap"
      />
      <div class="div1">
        <div><i class="far fa-building"></i> area</div>
        <div class="propertyvalues">{{ property.area }} m<sup>2</sup></div>
      </div>
      <div class="div1">
        <div><i class="fas fa-coins"></i> TotalCost</div>
        <div class="propertyvalues">{{ property.totalCost | currency : "INR" : "symbol"}}</div>
      </div>
      <div class="div1">
        <div><i class="fas fa-chart-line"></i> ShareValue</div>
        <div class="propertyvalues">{{ property.shareVal | currency : "INR" : "symbol"  }}</div>
      </div>
      <div class="butt">
        <button
          type="button"
          class="btn btn-primary"
          *ngIf="customer != null"
          [disabled]="property.remainingUnits === 0"
          [routerLink]="['/home', property.id]"
        >
          View Opportunities
        </button>
        <button
          type="button"
          class="btn btn-primary"
          *ngIf="customer == null"
          routerLink="/signin"
        >
          View Opportunities
        </button>
      </div>
    </div>
  </div>
</div>
<footer-nav></footer-nav>
