<div class="row" style="text-align: center;">
    <div class="col-lg-4" style="height: 300px;">
      <h1>property Report</h1>
        <canvas  id="propertychart"></canvas>

        <button
        [routerLink]="['/admin/',propertyReport.id]"
        >
         back
        </button>
    </div>
    <!-- <div (load)="printttt" class="col-lg-4" style="height: 300px;">
      <h1>Monthly Repost</h1>
      <canvas  id="monthlychart"></canvas>
  </div>
  <div class="col-lg-4" style="height: 300px;">
    <h1>Yearly Report</h1>
    <canvas id="yearlychart"></canvas>
</div> -->

      <!-- <h1>{{DailyReport | json}}</h1> -->
</div>